<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Партнеры</h1>
</div>

<%= link_to '+ Новый партнер', new_partner_path, class: "btn btn-success btn-sm" %>


    <table class="table table-striped">
      <theader>
        <tr>
          <th class="col-md-1"></th>
          <th class="col-md-3">Название</th>
          <th class="col-md-3">Юридическое лицо</th>
          <th class="col-md-2">ИНН</th>
        </tr>
      </theader>
        <tbody>
          <% @partners.each do |partner| %>
            <tr>
              <td class="col-md-1"><%= link_to 'Открыть', partner, class: "btn btn-primary btn-xs" %></td>
              <td class="col-md-3"><%= partner.name %></td>
              <td class="col-md-3"><%= partner.legal_name %></td>
              <td class="col-md-2"><%= partner.inn %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


<br>