<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>Legal name:</strong>
  <%= @partner.legal_name %>
</p>

<p>
  <strong>Legal address:</strong>
  <%= @partner.legal_address %>
</p>

<p>
  <strong>Inn:</strong>
  <%= @partner.inn %>
</p>

<p>
  <strong>Kpp:</strong>
  <%= @partner.kpp %>
</p>

<p>
  <strong>Account:</strong>
  <%= @partner.account %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @partner.bank %>
</p>

<p>
  <strong>Bik:</strong>
  <%= @partner.bik %>
</p>

<p>
  <strong>Bank account:</strong>
  <%= @partner.bank_account %>
</p>

<p>
  <strong>Ceo title:</strong>
  <%= @partner.ceo_title %>
</p>

<p>
  <strong>Ceo name:</strong>
  <%= @partner.ceo_name %>
</p>

<p>
  <strong>Contract number:</strong>
  <%= @partner.contract_number %>
</p>

<p>
  <strong>Contract date:</strong>
  <%= @partner.contract_date %>
</p>

<%= render @partner.hotels %>


<h1>Listing Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partner.hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.email %></td>
        <td><%= hotel.phone %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_partner_hotel_path(@partner, hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h3>Add Hotel</h3>
<%= render 'hotels/form' %>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
